*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri, sans-serif;
}
.container{
  width: 960px;
  margin: 0 auto;
}

#header{
  height: 200px;
  background-color: #3b3b3b;
  padding: 30px 0;
}
  #header img{
    vertical-align: middle;
    position: relative;
    top: -10px;
  }
  #header h1{
    display: inline-block;
    color: #29a0c8;
    text-transform: uppercase;
  }
  #header span{
    color: #83878a;
    text-transform: capitalize;
  }
  #header #nav{
    background-color: #29a0c8;
    border-bottom: 5px solid #5b5b5b;
    padding: 15px;
    overflow: auto;
    margin-top: 20px;
  }
  #header #nav li{
    list-style-type: none;
    float: left;
    width: 120px;
    text-align: center;
    border-right: 1px solid #0D7091;
    border-left: 1px solid #72D3F4;
  }
    #header #nav li.first{ border-left: none;  }
    #header #nav li.last{ border-right: none;  }


  #header #nav li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  #header #nav li a:hover{
    color: #0A4457;
    font-weight: bold;
  }
#main{
    overflow: auto;
    padding: 10px 0;
  }
  #main .asides{
    background-color: #95c72a;
    width: 235px;
    float: left;
    clear: left;
    margin-bottom: 10px;
  }
    #main .asides h3{
      background-color: #678b1d;
      color: #fff;
      text-transform: uppercase;
      padding: 15px;
      border-bottom: 1px dashed #95c72a;
    }
    #main .asides form{
      margin: 15px;
    }
    #main .asides form input{
      border: none;
      padding: 5px;
      width: 140px;
    }
    #main .asides form #submit{
      background-color: #678b1d;
      color: #fff;
      width: 60px;
    }
    #main .asides form #submit:hover{
      background-color: #476509;
      font-weight: bold;
      cursor: pointer;
    }
    #main .asides ul{
      margin: 15px;
    }
    #main .asides li{
      list-style-position: inside;
      list-style-image: url('../images/bullet1.gif');
      color: #344C03;
      line-height: 1.5em;
    }
    #main .asides li:hover{
      font-weight: bold;
      cursor: pointer;
    }
  #main #section1{
    background-color: #3e3c3d;
    width: 715px;
    float: right;
    padding: 20px;
    color: #B1B1B1;
    line-height: 1.5em;
  }
   #main #section1 h2{
      border-bottom: 3px solid #B1B1B1;
      color: #fff;
      padding-bottom: 10px;
      text-transform: uppercase;
   }
    #main #section1 p{
      margin-bottom: 20px;
    }
    #main #section1 a{
      color: #028ED2;
    }
    #main #section1 a.readMore{
      background-image: url('../images/readFull.gif');
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
      margin-bottom: 20px;
      display: block;
    }

#footer{
  height: 45px;
  background-color: #e5e5e5;
  text-align: center;
  line-height: 45px;
}