*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/*============header=============*/
header{
    background-color: #3b3b3b;
    width: 780px;
    
    margin: 0 auto;
    overflow: auto;
    padding-top: 30px;
    padding-left: 30px;
}
header img{
    float: left;
    padding: 10px 0px 10px 0px;
}
header h1{
    color: #29a0c8;
    padding-top: 10px;
    margin-left: 10px;
    float: left;
    width: 150px;
}
header h3{
    color: #84837f;
    float: left;
    padding-top: 20px;
    float: left;
    width: 220px;

}
/*==============nav===============*/
nav{
        width: 780px;
        background-color: #3b3b3b;
        margin: 0 auto;
        overflow: auto;
        padding-top: 30px;
        padding-left: 30px;
        height: 120px;
    }
nav ul{
    height: 50px;
    margin-right: 50px;
    background-color: #29a0c8;
}
nav ul li{
display: inline-block;
list-style-type: none;
margin: 15px 10px 10px 10px;
border-right: solid #0a6e90 2px;
padding-right: 10px;
color: #fff;
}
nav ul li:hover{
    color: cyan;
}
/*==========main============*/
main{
    width: 780px;
        background-color: white;
        margin: 0 auto;
        overflow: auto;
        padding-top: 30px;
        padding-left: 30px;
        overflow: auto;
}
/*================aside=============*/
aside{
    width: 235px;
    float: left;
    clear: left;
    margin: 5px;
}
.top{
    background-color: #678b1d;
    color: white;
    height: 45px;
    padding: 15px;
}
.bottom{
    background-color: #95c72a;
    padding: 25px;
}
.search{
    background-color: silver;
    width: 130px;
}
.submit{
    color: white;
    background-color: #6b8c1b;
    height: 20px;
    width: 50px;
}
    .submit:hover{
        background-color: #95c72a;
        color: black;
    }
    .search:focus{
        background-color: #fff;
    }
    aside ul{
        list-style-image: url('../images/bullet1.gif');
        
    }
    aside ul li{
        padding-top: 10px;
        color: #6b8c1b;
        padding-top: 10px !important;
        
    }
    aside ul li:hover{
        color: #84837f;
    }
    /*===========section===========*/
    section{
        background-color: #3e3c3d;
        width: 450px;
        float: right;
        margin-top: 5px;
        margin-right: 15px;
    }
    section h3{
        color: #fff;
        margin: 0 10px;
        padding-top: 30px;
        padding-left: 15px;
        border-bottom: solid #a1a9ac 3px;
        padding-bottom: 5px;

    }
    section p{
        margin:15px 10px;
        color: #a1a9ac;
    }
    section div{
        margin: 30px 10px;
        
    }
    section div a{
        color: #29a0c8;
        padding-bottom: 3px;
    }
    footer{
        color: #3b3b3b;
        background-color: silver;
        height: 25px;
        text-align: center;
        width: 740px;
        
        margin-left: 405px;
    
    }